.song-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 70%;
  border-radius: 6px;
  margin: 3px 0;
  padding: 0 12px;
}

.song-album {
  height: 40px;
  margin-right: 12px;
}

.song-box-1 {
  display: flex;
  align-items: center;
}

.song-data {
  margin: 0;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
}

.song-title {
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0;
  margin-right: 4px;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-artist {
  font-weight: 300;
  font-size: 0.7rem;
  margin: 0;
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 1px;
}
